.navbar {
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.navbar-left {
  flex: 1;
  text-align: left;
}

.navbar-center {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-right {
  flex: 1;
  text-align: right;
}

.cart-widget span {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 14px;
}
